.activity{
    background-color: #161E54;
    color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;


}

.activity p{
    padding: 10px 1px;
}
.allActivity{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.buttons{
    border: 1px solid red;
    background-color: #FF5151;
    color: white;
    padding: 15px;
}